name: Build and Push FastAPI Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push FastAPI image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/maokan/fastapi:latest

- name: generate artifacts
        run: |
         pip install sphinx
         cd docs
         make html

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
         name: Doc
         path: docs/build/html
